 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "Introduza um numero:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHG 0
 PUSHG 0
 MUL
 STOREG 1
 PUSHG 0
 WRITEI
 PUSHS " ao quadrado = "
 WRITES
 PUSHG 1
 WRITEI
 WRITELN
 PUSHG 0
 PUSHG 0
 MUL
 PUSHG 0
 MUL
 STOREG 2
 PUSHG 0
 WRITEI
 PUSHS " ao cubo = "
 WRITES
 PUSHG 2
 WRITEI
 WRITELN
 PUSHG 0
 PUSHG 0
 MUL
 PUSHG 0
 MUL
 PUSHG 0
 MUL
 STOREG 3
 PUSHG 0
 WRITEI
 PUSHS " a quarta = "
 WRITES
 PUSHG 3
 WRITEI
 WRITELN
 PUSHS "3 ao cubo = "
 WRITES
 PUSHI 27
 WRITEI
 WRITELN
 PUSHG 0
 WRITEI
 PUSHS " a zero = "
 WRITES
 PUSHI 1
 WRITEI
 WRITELN
 PUSHG 0
 WRITEI
 PUSHS " a um = "
 WRITES
 PUSHG 0
 WRITEI
 WRITELN
 STOP