 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "Introduza um numero:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHG 0
 PUSHG 0
 MUL
 STOREG 1
 PUSHG 0
 WRITEI
 PUSHS " ao quadrado = "
 WRITES
 PUSHG 1
 WRITEI
 WRITELN
 PUSHI 9
 STOREG 2
 PUSHI 81
 STOREG 3
 PUSHI 9
 WRITEI
 PUSHS " ao quadrado = "
 WRITES
 PUSHI 81
 WRITEI
 WRITELN
 STOP